<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <title>Koha Community Statistics</title>
    <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.css" />
    <link rel="stylesheet" href="[% request.uri_base %]/css/hea.css" />

    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

  </head>
  <body  role="document">
        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Koha community statistics</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/systempreferences">System preferences</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/biblibre/hea-app">Source code</a></li>
                <li><a href="http://wiki.koha-community.org/w/index.php?title=KohaUsageStat_RFC">Documentation</a></li>
                <li><a href="http://www.maoridictionary.co.nz/word/1006">What Hea means</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

    [% content %]
    <div id="footer">
      Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
    </div>

  </body>
  <script src="[% request.uri_base %]/javascripts/hea.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
        <script>
          $(document).ready(function() {
            [% IF ( v == 'home' ) %]
              build_svg({
                wrapper_id: 'biblio_volumetry',
                data: [% biblio_volumetry %],
                title: "Bibliographic record",
		caption: "Total: [% biblio_stats.sum | format_number %]. Average: [% biblio_stats.avg | format_number %]. Minimum: [% biblio_stats.min | format_number %]. Maximum: [% biblio_stats.max | format_number %]"
              });
              build_svg({
                wrapper_id: 'authority_volumetry',
                data: [% authority_volumetry %],
                title: "Number of authorities",
		caption: "Total: [% authority_stats.sum | format_number %]. Average: [% authority_stats.avg | format_number %]. Minimum: [% authority_stats.min | format_number %]. Maximum: [% authority_stats.max | format_number %]"
              });
              build_svg({
                wrapper_id: 'item_volumetry',
                data: [% item_volumetry %],
                title: "Total items",
		caption: "Total: [% item_stats.sum | format_number %]. Average: [% item_stats.avg | format_number %]. Minimum: [% item_stats.min | format_number %]. Maximum: [% item_stats.max | format_number %]"
              });
              build_svg({
                wrapper_id: 'patron_volumetry',
                data: [% patron_volumetry %],
                title: "Number of patrons",
		caption: "Total: [% patron_stats.sum | format_number %]. Average: [% patron_stats.avg | format_number %]. Minimum: [% patron_stats.min | format_number %]. Maximum: [% patron_stats.max | format_number %]"
              });
              build_svg({
                wrapper_id: 'issue_volumetry',
                data: [% issue_volumetry %],
                title: "Total issues",
		caption: "Total: [% issue_stats.sum | format_number %]. Average: [% issue_stats.avg | format_number %]. Minimum: [% issue_stats.min | format_number %]. Maximum: [% issue_stats.max | format_number %]"
              });
              build_svg({
                wrapper_id: 'reserve_volumetry',
                data: [% reserve_volumetry %],
                title: "Total reserves"
              });
              build_svg({
                wrapper_id: 'order_volumetry',
                data: [% order_volumetry %],
                title: "Total orders"
              });
              build_svg({
                wrapper_id: 'subscription_volumetry',
                data: [% subscription_volumetry %],
                title: "Total subscriptions"
              });
              build_svg({
                wrapper_id: 'country_volumetry',
                data: [% country_volumetry %],
                title: "Countries"
              });
              build_svg({
                wrapper_id: 'type_volumetry',
                data: [% type_volumetry %],
                title: "Type"
              });
            [% ELSIF ( v == 'systempreferences' ) %]
              [% FOR pref IN systempreferences %]
                build_svg({
                  wrapper_id: 'pref_[% pref.syspref_name %]',
                  data: [% pref.values %],
                  title: "[% pref.syspref_name %]"
                });
              [% END %]
            [% END %]

           });

        </script>

</html>
