<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <title>Hea::App</title>
    <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.css" />


    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

  </head>
  <body  role="document">
        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Koha community statistics</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/systempreference">System preferences</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/biblibre/hea-app">Source code</a></li>
                <li><a href="http://wiki.koha-community.org/w/index.php?title=KohaUsageStat_RFC">Documentation</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to HEA</h1>
        <p>This website display <a href="http://koha-community.org">koha ILS</a> usage statistics. Data are collected from installed koha if librarian want. They are stored anonymously or not, as the library choose.</p>
        <p><a href="http://koha-community.org" class="btn btn-primary btn-lg" role="button">Learn more about Koha &raquo;</a></p>
      </div>

    [% content %]
    <div id="footer">
      Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
    </div>
  </body>
  <script src="[% request.uri_base %]/javascripts/hea.js"></script>
  [% IF donut_flavours %]
    <script src="[% request.uri_base %]/javascripts/donut_flavours.js"></script>
  [% END %]
  [% IF donut_bibrange %]
    <script src="[% request.uri_base %]/javascripts/donut_bibrange.js"></script>
  [% END %]
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
</html>
