.chart {
  background: #B9BEC0;
  float: left;
  margin: 1%;
  width: 48%;
}
 
.chart rect {
  stroke: white;
  fill: steelblue;
}
 
.chart text {
  fill: white;
  font-weight: bold;  
}
 
.chart text.variable {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .title {
  /*fill: #FFF;*/
  fill: black;
  font-weight: bold;  
}
 
.chart rect {
  stroke: none;
}
 
.chart rect:hover {
  fill: #64707D;
} 

table#lib_name_url {
  margin: 25px;
  font-family: Nimbus Sans L, arial, monospace;
  color: black;
  font-size: 16px;
}

table#lib_name_url tr {
  border-bottom: 1px solid black;
}

table#lib_name_url tr:nth-child(even) {
  border-bottom: 1px solid black;
  background-color: #EEE;
}

table#lib_name_url td {
  padding: 10px 20px 10px 20px ;
}

table#value {
   margin: 0px auto;
}


table#value thead th {
   text-align: center;
}

table#value td {
   text-align: right;
   width: 18%;
}

table#value tbody tr th {
   text-align: left;
   width: 10%;
}
